<div class="current">
  <h3>Current Tasks</h3>
    <form class="form-inline" ng-submit="addTask(newTaskItem)">     
      <div class ="form-group">
        <input type="text" class="form-control" placeholder="What do I need to do?" ng-model="newTaskItem">
      </div>  
      <br/>        
      <button type="submit" class="add-btn">add</button>   
    </form>
   <div ng-repeat="task in tasks">
    <ul> 
      <li class="todo" ng-show="task.state == 'active'" ng-init="expireTask(task.$id)">
        {{task.task}} 
        <button class="button check"  ng-click="completeTask(task.$id)"></button>
      </li>
    </ul>
   </div> 
</div>